.todos-title-edit {
  font-size: inherit;
  background: transparent;
  padding: 0;
  border: 0;
  width: auto;
}

.todos-list__item {
  background-color: white;
}

.todos-list__item :not(:last-child) {
  margin-bottom: 1px;
}

.todos-list__item--done {
  opacity: 0.666;
}


