<div *ngIf="(editing$ | async) as editing">
  <form [formGroup]="form" class="editor-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <textarea matInput formControlName="title"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <footer style="display: flex;">
      <button (click)="save()" mat-flat-button color="primary">Save</button>
      <button (click)="cancel()" mat-stroked-button color="warn">Cancel</button>
      <button style="margin-left: auto;" *ngIf="editing.id as id" (click)="delete(id)" mat-flat-button color="warn">Delete</button>
    </footer>
  </form>
</div>
<div *ngIf="!(editing$ | async)">
  <button (click)="newPost()" mat-flat-button color="accent">New Post</button>
</div>
